body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    line-height: 2;
}

nav {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.navbar {
    padding-top: 1rem;
}

.nav-link {
    color: #000!important;
}

.bg-light {
    background-color: #fff!important;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

a:hover {
    color: #000;
}

h1 {
    font-size: 6rem;
    line-height: 1;
}

@media (min-width: 768px)
h1 {
    font-size: 8rem;
}

h2 {
    font-size: 4rem;
    padding-top: 5rem;
    line-height: 1;
}

h3 {
    font-size: 3rem;
}

.main-section {
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.blockquote {
    font-size: 1.5rem;
}

section .blockquote {
    font-size: 1rem;
}

li {
    list-style: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
