@-webkit-keyframes navPeak {
    0% {
        top: 0
    }

    to {
        top: -3vw
    }
}

@keyframes navPeak {
    0% {
        top: 0
    }

    to {
        top: -3vw
    }
}

@-webkit-keyframes fadeBounceDown {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeBounceDown {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeBounceUp {
    0% {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeBounceUp {
    0% {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes wave {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(30deg)
    }

    to {
        transform: rotate(0deg)
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(30deg)
    }

    to {
        transform: rotate(0deg)
    }
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],template {
    display: none
}

*,:after,:before {
    box-sizing: border-box
}

:root {
    --color:#e699a6}

body,html {
    width: 100%;
    height: 100%
}

body {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    background-color: #181818;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    cursor: default
}

@media (min-width: 550px) {
    body {
        font-size:17px
    }
}

@media (min-width: 750px) {
    body {
        font-size:19px
    }
}

::-moz-selection {
    background: transparent;
    text-shadow: none
}

::selection {
    background: transparent;
    text-shadow: none
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

ul.inline li {
    display: inline-block;
    margin-right: .5em
}

ul.inline li:last-child {
    margin-right: 0
}

a {
    text-decoration: none;
    cursor: pointer
}

a:focus {
    outline: 0
}

h1,h2,h3 {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2;
    margin: 0
}

.inner {
    position: relative;
    margin: 0 auto;
    width: 80%
}

@media (min-width: 750px) {
    .inner {
        width:75%
    }
}

.inner--link {
    display: flex;
    align-items: baseline
}

.table {
    display: table
}

.table,.table-cell {
    width: 100%;
    height: 100%
}

.table-cell {
    display: table-cell;
    vertical-align: middle
}

.js-colors {
    height: 50vh;
    position: fixed;
    top: 50vh;
    left: 0;
    right: 0;
    display: flex;
    z-index: 400
}

.color {
    flex: 1
}

@-webkit-keyframes colorShift {
    0% {
        color: #e699a6
    }

    10% {
        color: #e699d2
    }

    20% {
        color: #cc99e6
    }

    30% {
        color: #9f99e6
    }

    40% {
        color: #99bfe6
    }

    50% {
        color: #99e6df
    }

    60% {
        color: #99e6b3
    }

    70% {
        color: #ace699
    }

    80% {
        color: #d9e699
    }

    90% {
        color: #e6c699
    }

    1000% {
        color: #e69999
    }
}

@keyframes colorShift {
    0% {
        color: #e699a6
    }

    10% {
        color: #e699d2
    }

    20% {
        color: #cc99e6
    }

    30% {
        color: #9f99e6
    }

    40% {
        color: #99bfe6
    }

    50% {
        color: #99e6df
    }

    60% {
        color: #99e6b3
    }

    70% {
        color: #ace699
    }

    80% {
        color: #d9e699
    }

    90% {
        color: #e6c699
    }

    1000% {
        color: #e69999
    }
}

@-webkit-keyframes bgShift {
    0% {
        background-color: #e699a6
    }

    10% {
        background-color: #e699d2
    }

    20% {
        background-color: #cc99e6
    }

    30% {
        background-color: #9f99e6
    }

    40% {
        background-color: #99bfe6
    }

    50% {
        background-color: #99e6df
    }

    60% {
        background-color: #99e6b3
    }

    70% {
        background-color: #ace699
    }

    80% {
        background-color: #d9e699
    }

    90% {
        background-color: #e6c699
    }

    1000% {
        background-color: #e69999
    }
}

@keyframes bgShift {
    0% {
        background-color: #e699a6
    }

    10% {
        background-color: #e699d2
    }

    20% {
        background-color: #cc99e6
    }

    30% {
        background-color: #9f99e6
    }

    40% {
        background-color: #99bfe6
    }

    50% {
        background-color: #99e6df
    }

    60% {
        background-color: #99e6b3
    }

    70% {
        background-color: #ace699
    }

    80% {
        background-color: #d9e699
    }

    90% {
        background-color: #e6c699
    }

    1000% {
        background-color: #e69999
    }
}

.hero-text {
    display: inline-block;
    margin: 1em auto;
    position: relative;
    min-height: 20vw
}

.hero-text:after {
    content: "✌";
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -1em;
    transform: translateY(5px) scale(.9);
    transition: all .3s cubic-bezier(.19,1,.22,1)
}

.hero-text:hover:after {
    opacity: 1;
    transform: translateX(0) scale(1)
}

.hero-text .js-typer {
    display: none
}

.hero-text+.hero-text {
    display: inline;
    margin: 0
}

.highlight {
    color: transparent;
    border-radius: 1px
}

.hidden {
    display: none
}

.social-link,.social-link:active,.social-link:link,.social-link:visited {
    color: #6d6d6d
}

.logo,.social {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.logo {
    display: inline-block;
    -webkit-animation-name: fadeBounceDown;
    animation-name: fadeBounceDown;
    color: #f1f1f1
}

.social {
    -webkit-animation-name: fadeBounceUp;
    animation-name: fadeBounceUp
}

.about {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: background-color 30s linear
}

.browser-height {
    height: 100%;
    pointer-events: none
}

.hero-text,.project-highlight {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 7vw;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: -.035em
}

.footer {
    position: relative;
    z-index: 1;
    -webkit-animation-name: navPeak;
    animation-name: navPeak;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.projects {
    padding: 5vw 0
}

.project-link {
    display: block;
    padding: .25em 0;
    margin-bottom: 1vw;
    color: rgba(24,24,24,.6)
}

.project-link:hover .project-role {
    opacity: 1;
    transform: translateY(0)
}

.project-highlight {
    pointer-events: none;
    border-radius: 1px
}

.project-role {
    position: absolute;
    left: .5em;
    top: -.5em;
    opacity: 0;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: .625em;
    font-weight: 800;
    letter-spacing: .025em;
    display: inline-block;
    transform: translateY(15px);
    transition: all .3s cubic-bezier(.19,1,.22,1) .1s
}

@media (max-width: 550px) {
    .project-role {
        display:none
    }
}

.worked-with {
    color: rgba(24,24,24,.6);
    padding-top: 3em;
    padding-bottom: 3em
}

.worked-with a {
    color: rgba(24,24,24,.6);
    border-bottom: 1px solid transparent
}

.worked-with a:hover {
    border-bottom: 1px solid
}

.worked-with--label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .8em;
    font-weight: 600;
    padding-bottom: .5em;
    text-transform: uppercase;
    font-size: .625em;
    font-weight: 800;
    letter-spacing: .025em
}

.available {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    font-size: 1.25em;
    line-height: 1.2;
    color: #f1f1f1;
    letter-spacing: -.015em;
    margin-bottom: 3em
}

.available a {
    color: #6d6d6d;
    position: relative;
    transition: color .3s linear
}

.available a:before {
    position: absolute;
    content: "👋";
    display: inline-block;
    top: .1em;
    left: -1.5em;
    opacity: 0;
    transform-origin: 50% 90%;
    -webkit-animation-name: wave;
    animation-name: wave;
    -webkit-animation-duration: .35s;
    animation-duration: .35s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.available a:hover:before {
    opacity: 1
}

.available .emoji {
    position: absolute;
    left: -1.5em
}

.available a:hover,.hero-text,.logo:hover,.social-link:hover {
    color: var(--color)
}

.highlight,.projects,.worked-with {
    background-color: var(--color)
}
