body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #bdc1c6;
    line-height: 2;
    background: #202124;
}

/* Navbar */
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:focus-visible {
    outline: none;
}

nav {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.navbar {
    padding-top: 1rem;
}

.navbar-light .navbar-brand {
    color: #bdc1c6!important;
}

.nav-link {
    color: #bdc1c6!important;
}

.bg-light {
    background-color: #202124!important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../icons/menu.png");
}

.custom-toggler.navbar-toggler {
    border: none;
}

a {
    text-decoration: none;
    color: #bdc1c6;
    font-weight: 600;
}

a:hover {
    color: #bdc1c6;
}

h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 900;
    color: #cf0;
}

h2 {
    font-size: 2rem;
    padding-top: 5rem;
    line-height: 1;
    font-weight: 900;
}

h3 {
    font-size: 1.5rem;
    font-weight: 900;
    color: #cf0;
}

.secondary-text {
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    .blockquote {
        font-size: 1.5rem;
    }
}

.main-section {
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.blockquote {
    font-size: 1.1rem;
}

section .blockquote {
    font-size: 1rem;
}

li {
    list-style: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #bdc1c6;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bdc1c6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card {
    background-color: #202123;
    border: 1px solid rgb(189, 193, 198, .125);
}

/* Desktop */


